.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem;
  padding: 7rem;
  width: 100%;
  max-height: fit-content;
  min-width: none;
  max-width: fit-content;
  background-color: white;
  z-index: 1;
}

.about * {
  font-size: 1.6rem;
}
.about__title {
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: #8c1d40;
}
.about__title > h1 {
  font-size: 3.2rem;
}

.about__subtitle > h3 {
  margin-left: none;
  padding: 1rem;
  font-size: 1.8rem;
}

.about__subtitle > p {
  margin-left: none;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid lightgray;
}

.about__home {
  align-items: center;
  margin: 4rem;
  margin-bottom: 2rem;
  color: #8c1d40;
}
