.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131921;
  padding: 1rem;
  text-decoration: underline;
  position: relative;
  color: white;
}

.footer__logo {
  width: 10rem;
  object-fit: contain;
  margin-left: 2rem;
}

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer__option {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  color: white;
}

.footer__optionLine {
  font-size: 1.4rem;
}
